Repository cal-itp/littlepay, pull requests merged in 2024-02, with the labels that each got.

#14 Feat(enrollment): funding source from card token
  littlepay/api/client.py
  littlepay/api/funding_sources.py
  tests/api/test_funding_sources.py
Labels: feat(api)

#15 Feat(enrollment): link funding source to group
  littlepay/api/client.py
  littlepay/api/groups.py
  tests/api/test_funding_sources.py
  tests/api/test_groups.py
Labels: feat(api)

#19 CI: git scrape groups and products
  .github/workflows/scrape.yml
  README.md
  data/README.md
  littlepay/api/groups.py
  littlepay/api/products.py
  littlepay/commands/groups.py
  littlepay/commands/products.py
  littlepay/main.py
  tests/api/test_groups.py
  tests/api/test_products.py
  tests/commands/test_groups.py
  tests/commands/test_products.py
  tests/test_main.py
Labels: feat(cli), actions

#20 Fix: don't return error with no participant
  littlepay/commands/configure.py
  tests/commands/test_configure.py
  tests/test_littlepay.py
Labels: bug, feat(cli)
